<h3>Hi, <%= @name %></h3>
 
 <h3><a href="https://www.pinterest.com/explore/pretty-pictures/">Secret Link</a><br><br>
 
 <form action='/logout' method="get">
   <button type="submit">Logout</button><br>
 <form>